---
import "../styles/global.css";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galería | La Fortuna Downtown">
  <main class="relative min-h-screen overflow-hidden text-stone-100">
    <Gallery />
    <Footer />
  </main>
</Layout>
