---
import "../styles/global.css";
import AboutUs from "../components/AboutUs.astro";
import Amenities from "../components/Amenities.astro";
import BrandHighlights from "../components/BrandHighlights.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import LatestOffers from "../components/LatestOffers.astro";
import Layout from "../layouts/Layout.astro";
import Restaurants from "../components/Restaurants.astro";
import Rooms from "../components/Rooms.astro";
import TopTours from "../components/TopTours.astro";
import TropicalExperiencesBanner from "../components/TropicalExperiencesBanner.astro";
---

<Layout
	title="Downtown La Fortuna | Hotel Boutique en el centro de La Fortuna"
	description="Hotel boutique en el corazón de La Fortuna, Costa Rica. Habitaciones modernas, piscina, restaurantes y fácil acceso al Volcán Arenal y las aguas termales. Reserva directa con el mejor precio garantizado."
>
	<main class="relative min-h-screen overflow-hidden text-stone-100">
		<Hero />
		<AboutUs />
		<Rooms />
		<Amenities />
		<BrandHighlights />
		<LatestOffers />
		<Restaurants />
		
		<TropicalExperiencesBanner />
		<Footer />
	</main>
</Layout>
